{% extends "base.html" %}
{% block content %}
<div class="starter-template">
    <h1>Login</h1>
    <p class="lead">Login</p>
    <form role="form" action="/login" method="post">

        <div class="control-group">
            <label class="control-label" for="username">Username</label>
            <div class="controls">
                <input type="text" id="name" name="username" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="text" id="pass" name="password" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <input type="submit" id="button" name="button" class="btn btn-success">Login</button>
            </div>
        </div>
    </form>

    <form action="/register" method="get">
        <div class="control-group">
            <div class="controls">
                <input type="submit" id="register" class="btn btn-success" action="/register">Register</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
